body {
  background-image: url('../images/wood-background.jpg');
}

/* HEADER */

.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header div {
  margin: 5px;
}

.header-logo {
  max-height: 100px;
  max-width: 200px;
}

.header-nav ul{
  margin-top: 5%;
}

/* BODY */

.home {
  margin-top: 100px;
}

.body {
  font-family: fredericka the great;
  margin-top: 50px;
}

.carousel {
  margin: 5px;
}

.carousel-block {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.car-logo {
  margin-top: 10px;
  max-width: 400px;
}

.car-specials {
  background-image: url('../images/texture-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
}

.car-specials img {
  margin-left: 20px;
}

.car-specials h1 {
  margin-top: 10px;
  text-align: center;
}

.car-special-text {
  padding: 10px;
}

.car-special-text h2 {
  line-height: 5rem;
}

.car-img {
  max-width: 100%;
}

/*  MENU */

.menu-div {
  margin-top: 10px;
  background-color: #006994;
}

.menu-div h1 {
  color: white;
  text-align: center;
}

.menu, .order-menu {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.menu img, .order-menu img {
  max-width: 500px;
}

/* FOOTER */
.footer {
  background-image: url('../images/ocean-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  font-family: fredericka the great;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer img {
  margin-top: 50px;
  max-height: 200px;
  max-width: 300px;
}

.card {
  min-height: 250px;
}

/* MEDIA */
@media only screen and (min-width: 320px) and (max-width: 479px){

  .carousel-block {
    flex-direction: column;
  }

  .car-logo {
    margin-top: 10px;
    max-width: 300px;
  }

  .car-img {
    max-width: 479px;
  }

  .menu, .order-menu {
    align-items: center;
    flex-direction: column;
  }

  .menu img, .order-menu img {
    max-width: 250px;
  }

  .footer {
    flex-direction: column;
  }

  .footer img {
    margin: auto;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px){

  .carousel-block {
    flex-direction: column;
  }

  .car-img {
    max-width: 767px;
  }

  .menu, .order-menu {
    flex-direction: column;
  }

  .menu img, .order-menu img {
    min-width: 400px;
  }

  .footer {
    flex-direction: column;
  }

  .footer img {
    margin: auto;
  }
}
