body {
  background-image: url('../images/wood-background.jpg');
  -webkit-background-size: 100%;
  -moz-background-size:100%;
  -o-background-size:100%;
  background-size: 100%;
}

/* HEADER */

.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header div {
  margin: 5px;
}

.header-logo {
  max-height: 100px;
  max-width: 200px;
}

.header-nav ul{
  margin-top: 5%;
}

/* BODY */

.home {
  margin-top: 120px;
}

.body {
  font-family: fredericka the great;
  margin-top: 50px;
}

.carousel {
  margin: 5px;
}

.carousel-block {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.car-logo {
  margin-top: 10px;
  max-width: 400px;
}

.car-specials {
  background-image: url('../images/texture-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
}

.car-specials img {
  margin-left: 20px;
}

.car-specials h1 {
  margin-top: 10px;
  text-align: center;
}

.car-special-text {
  padding: 10px;
}

.car-special-text h2 {
  line-height: 5rem;
  text-align: center;
}

.car-img {
  max-width: 100%;
}

/*  MENU */

.menu-div, .gallery-div, .contact-div {
  margin-top: 20px;
  /* background-color: #006994; */
  background: linear-gradient(#00FFFF, #006994)
}

.menu-div a:hover, .gallery-div a:hover, .contact-div a:hover {
  text-decoration: none;
}

.menu-div h1, .gallery-div h1, .contact-div h1 {
  color: white;
  text-align: center;
}

.menu, .order-menu {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.menu img, .order-menu img {
  max-width: 500px;
}

/* GALLERY */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;;
  margin-top: 50px;
}

.gallery img {
  border-radius: 5px;
  margin: 5px;
  max-height: 200px;
  max-width: 200px;
}

.gallery img:hover {
  border: 1px solid white;
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.1);
}

.ReactModal__Content {
  top: 50% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
  max-height: 100% !important;
  padding: 0 !important;
  transform: translate(-50%, -50%);
}

.modal-img {
  max-height: 100%;
  max-width: 400px;
}

/* FOOTER */
.footer {
  background-image: url('../images/ocean-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  font-family: fredericka the great;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer img {
  margin-top: 50px;
  max-height: 200px;
  max-width: 300px;
}

.card {
  background: linear-gradient(#fff,#F5F5DC);
  min-height: 250px;
}

.card-header {
  background: linear-gradient(#00FFFF, #006994)
}

/* MEDIA */
@media only screen and (min-width: 320px) and (max-width: 479px){

  .carousel-block {
    flex-direction: column;
  }

  .car-logo {
    margin-top: 10px;
    max-width: 300px;
  }

  .car-special-text h2 {
    font-size: 1.5rem;
  }

  .car-img {
    max-width: 479px;
  }

  .menu, .order-menu {
    align-items: center;
    flex-direction: column;
  }

  .menu img, .order-menu img {
    width: 100%;
  }

  .modal-img {
    max-height: 100%;
    max-width: 300px;
  }

  .footer {
    flex-direction: column;
  }

  .footer img {
    margin: auto;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px){

  .carousel-block {
    flex-direction: column;
  }

  .car-img {
    max-width: 767px;
  }

  .menu, .order-menu {
    flex-direction: column;
  }

  .menu img, .order-menu img {
    min-width: 400px;
  }

  .modal-img {
    max-height: 100%;
    max-width: 350px;
  }

  .footer {
    flex-direction: column;
  }

  .footer img {
    margin: auto;
  }

}
